@import "./mixins/mixins.scss";

@import '../../../node_modules/vant/es/popup/index.css';
@import '../../../node_modules/vant/es/style/base.css';
@import '../../../node_modules/vant/es/overlay/index.css';
@import '../../../node_modules/vant/es/info/index.css';
@import '../../../node_modules/vant/es/icon/index.css';
@import '../../../node_modules/vant/es/loading/index.css';
@import '../../../node_modules/vant/es/picker/index.css';

// @include b(test) {
//   display: inline-block;
//   line-height: 1;
//   white-space: nowrap;
//   cursor: pointer;
// }
.vs-datetime-picker-template {
  flex: none;

  .vs-datetime-picker-title {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    
    .vs-datetime-picker-title-left {
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px;
      color: rgba(255, 255, 255, 0.8);
    }

    .vs-datetime-picker-title-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      span {
        &.default {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 36px;
          // margin-right: 10px;
        }
  
        &.iconDefault {
          padding-right: 27.5px;
          // margin-right: 10px;
        }
        &.no-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-right: 12px;
        }
      }
  
      i {
        &.vs-icon-calendar {
          margin-right: 12px;
  
          &.default {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            background: url('./imgs/calendar.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(calc(-50% - 1px));
          }
          
          &.vs-table-icon-up {
            display: inline-block;
            width: 7.5px; // 9.6
            height: 4px; // 7.2
            // margin-left: 5px;
            background: url('./imgs/table-down-expand.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            // transform: translateY(calc(-50% - 1px));
          }
  
          &.vs-table-icon-down {
            display: inline-block;
            width: 7.5px; // 9.6
            height: 4px; // 7.2
            // margin-right: 5px;
            background: url('./imgs/table-down-expand.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
            // transform: translateY(calc(-50% - 1px));
          }
        }
  
        // &.iconDefault {
        //   transform: rotate(90deg);
        // }
      }
  
      // /deep/ .icon {
      /deep/ .van-icon {
        &.iconDefault {
        // &.default {
        // &.van-icon-tosend {
          position: absolute;
          top: 50%;
          right: 8px;
          display: inline-block;
          // width: 16px;
          // height: 16px;
          // margin-left: 5px;
          transform: translateY(calc(-50% - 1px)) scale(.8, .6);
          // transform: scale(0.8);
          // background: url(calendar.png) no-repeat center center;
          background-size: 100% 100%;
        }
  
        &.icon-caret-up {
          &::before {
            transform-origin:center center;
            transform: translateY(1px) rotate(-90deg);
          }
          // margin-top: 5px;
          
        }
  
        &.icon-caret-down {
          &::before {
            transform-origin:center center;
            transform: translateY(-1px) rotate(90deg);
          }
          // margin-bottom: 5px;
          // transform: rotate(90deg);
        }
      }
    }

    
  }

  .vs-datetime-picker-popuper {
    .vs-datetime-picker-center-highlight {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 36px;
      transform: translateY(calc(7px));
      // transform: translateY(calc(50%));
      background-color: #e1e1e1;
      opacity: 0.1;
      pointer-events: none;
    }

    /deep/ .van-picker {
      background: #212228;
      
      .van-picker__toolbar {
        height: 50px;
        line-height: 50px;
        background: #212228;
  
        .van-picker__cancel {
          padding: 0 14px;
          font-size: 16px;
          color: #fff;
        }
  
        .van-picker__confirm {
          padding: 0 14px;
          font-size: 16px;
          color: #69a4ff;
        }
      }
    }

    /deep/ .van-picker__columns {
      background: #2e3036;

      .van-picker-column {
        .van-picker-column__wrapper {
          .van-picker-column__item {
            color: #6a7088;
            font-size: 15px;
            // transition: font-size .1s;

            &.van-picker-column__item--selected {
              font-size: 17px;
              color: #fff;
            }
          }
        }
      }

      .van-picker__mask {
        opacity: 0;
      }

      .van-hairline-unset--top-bottom {
        &::after {
          border-width: 0;
        }
      }
    }
  }
}
// .infinite-button [class*="infinite-icon-"] + span {
//   margin-left: 5px;
// }
