@import "./mixins/mixins.scss";

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #212228;
  color: #fff;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.header-left {
  display: flex;
  min-width: 35px;
}

// .header-title {
//   flex: 1;
//   text-align: center;
// };

.right-padding {
  margin-right: 35px;
};

.no-visibility {
  visibility: hidden;
}