@import "./mixins/mixins.scss";

.infinite-slide-section {
  padding: 0 12px 20px 12px;
  border-radius: 15px;
  .updateTime {
    font-size: 12px;
    line-height: 16.5px;
    padding-top: 16px;
    color: rgba(255,255,255,0.4);
    text-align: center;
    &.hasjump {
      padding-top: 0;
    }
  }
  .slide-wrap {
    display: flex;
    .message-item {
      flex: 1;
      font-size: 13px;
      color: #b1b3ba;

      .tr {
        margin-top: 11px;
      }
    }
  }
}

