@import "./common/reset.scss";
@import "./mixins/mixins.scss";
@import '../../../node_modules/vant/lib/popup/index.css';
@import '../../../node_modules/vant/lib/style/base.css';
@import '../../../node_modules/vant/lib/overlay/index.css';
@import '../../../node_modules/vant/lib/picker/index.css';

.vs-datetime-picker-template {
  flex: none;

  .vs-datetime-picker-title {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.8);
    transform: translateZ(1100px);
    
    .vs-datetime-picker-title-left {
      font-size: 14px;
      font-weight: 400;
      margin-left: 12px;
      color: rgba(255, 255, 255, 0.8);
      transform: translateZ(1100px);
    }

    .vs-datetime-picker-title-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      span {
        &.default {
          @include center-children;
          padding-right: 36px;
        }
  
        &.iconDefault {
          padding-right: 27.5px;
        }
        &.no-icon {
          @include center-children;
          padding-right: 12px;
        }
      }
  
      i {
        &.vs-icon-calendar {
          margin-right: 12px;
  
          &.default {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            background: url('./imgs/calendar.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(calc(-50% - 1px));
          }
          
          &.vs-table-icon-up {
            display: inline-block;
            width: 7.5px; // 9.6
            height: 4px; // 7.2
            background: url('./imgs/table-down-expand.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
  
          &.vs-table-icon-down {
            display: inline-block;
            width: 7.5px; // 9.6
            height: 4px; // 7.2
            background: url('./imgs/table-down-expand.png') no-repeat center center;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
  
      .van-icon {
        &.iconDefault {
          position: absolute;
          top: 50%;
          right: 8px;
          display: inline-block;
          transform: translateY(calc(-50% - 1px)) scale(.8, .6);
          background-size: 100% 100%;
        }
  
        &.icon-caret-up {
          &::before {
            transform-origin:center center;
            transform: translateY(1px) rotate(-90deg);
          }
        }
  
        &.icon-caret-down {
          &::before {
            transform-origin:center center;
            transform: translateY(-1px) rotate(90deg);
          }
        }
      }
    }

    
  }

  .vs-datetime-picker-popuper {
    .vs-datetime-picker-center-highlight {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 36px;
      transform: translateY(calc(7px));
      margin: 0;
      padding: 0;
          // transform: rotate(90deg);
      // transform: translateY(calc(50%));
      background-color: #e1e1e1;
      opacity: 0.1;
      pointer-events: none;
    }

    .van-picker {
      background: #212228;
      transform: translateZ(1100px);
      
      .van-picker__toolbar {
        height: 50px;
        line-height: 50px;
        background: #212228;
        transform: translateZ(1100px);
  
        .van-picker__cancel {
          padding: 0 14px;
          font-size: 16px;
          color: #fff;
          transform: translateZ(1100px);
        }
  
        .van-picker__confirm {
          padding: 0 14px;
          font-size: 16px;
          color: #69a4ff;
          transform: translateZ(1100px);
        }
      }
    }

    .van-picker__columns {
      background: #2e3036;
      transform: translateZ(1100px);

      .van-picker-column {
        .van-picker-column__wrapper {
          .van-picker-column__item {
            color: #6a7088;
            font-size: 15px;

            &.van-picker-column__item--selected {
              font-size: 17px;
              color: #fff;
              transform: translateZ(1100px);
            }
          }
        }
      }

      .van-picker__mask {
        opacity: 0;
      }

      .van-hairline-unset--top-bottom {
        &::after {
          border-width: 0;
        }
      }
    }
  }
}
