@import "./common/reset.scss";
@import "./mixins/mixins.scss";

.vs-empty-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .vs-description {
    font-size: 16px;
    color: #b1b3ba;
    margin-top: 22px;
  }
}
