@import "./common/reset.scss";
@import "./mixins/mixins.scss";
@import "./vs-vant-icon.scss";

.vs-header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #212228;
  color: #fff;
  height: 32px;
  line-height: 32px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.vs-header-left {
  display: flex;
  min-width: 35px;
  padding-left: 5px;
  position: relative;
  z-index: 1;
  @include center-children;
}

.vs-header-title {
  width: 100vw;
  position: absolute;
  z-index: 0;
  display: flex;

  .title-content {
    margin: 0 auto;
  }
};

.vs-header-right {
  padding-right: 5px;
  position: relative;
  z-index: 1;
}
.vs-right-padding {
  margin-right: 35px;
};

.vs-no-visibility {
  visibility: hidden;
}