@import "./common/reset.scss";
@import "./mixins/mixins.scss";
@import "./common/var.scss";
@import '../../../node_modules/vant/lib/popup/index.css';
@import '../../../node_modules/vant/lib/overlay/index.css';



html.is-mobile {
  ::-webkit-scrollbar {
    width: 0;
  }
}

html.is-right-mobile {
  ::-webkit-scrollbar {
    width: 0;
  }
}

.flex-c-c {
  @include center-children;
}

.text-wb-ws-bs {
  word-break: break-all;
  white-space: pre-wrap;
  box-sizing: initial;
}

.td-p-b {
  padding-top: 1.733vw !important;
  padding-bottom: 1.733vw !important;
  box-sizing: initial;
  position: relative;
}

// 排序按钮
.sort-icon-style {
  @include wh(0, 0);
  position: absolute;
  left: calc(100% - 2.133vw);
  border: 1.067vw solid $ftColor;
  border-left-color: transparent;
  border-right-color: transparent;
}

// 存在子节点的父节点开展箭头标识
.icon-position-border {
  @include wh(0, 0);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 1.333vw;
  border: 1.067vw solid #fff;
  border-left-color: transparent;
  border-right-color: transparent;
}

// 超出两行省略
.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: -o-ellipsis-lastline;
  display: -webkit-box;
  line-clamp: 2 !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical;
}
// 表头样式
.gather-header-tr {
  display: inline-flex;
  align-items: center;
}
.gather-p-tr {
  display: inline-flex;
  align-items: center;
}
.td-container {
  display: inline-flex;
  word-break: break-all;
}
.vs-table {
  padding-top: 4.267vw;

  table,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
    user-select: none;
    text-align: center;
  }
  * {
    box-sizing: initial;
  }
  .vs-table-box {
    color: #fff;
    font-size: 3.733vw;
    position: relative;
    z-index: 1;
    transform: translateZ(1100px);
    overflow: hidden;
    box-sizing: border-box;

    // 右滑可滑动的提示箭头
    .vs-table-scroll-icon {
      display: flex;
      position: absolute;
      right: .8vw;
      transform: translate3d(0,-50%,1000px);

      .vs-table-icon-png {
        width: 2.133vw;
        height: 2.4vw;
      }
    }
  }

  .vs-table-content {
    position: relative;
    transform: translateZ(1000px);

    // 隐藏滚动条
    .vs-scroll-div {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar-track-piece {
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    // 表格样式
    .vs-table-div {
      .vs-label-table {
        .vs-p-tr {
          @extend .gather-p-tr;
          .vs-table-opacity {
            opacity: 0;
          }
        }
        .vs-label-thead {
          color: $ftColor;

          // 表头表格对齐方式
          .vs-row-align-right-textalign {
            justify-content: flex-end;
          }

          .vs-row-align-center-textalign {
            justify-content: center;
          }

          .vs-row-align-left-textalign {
            justify-content: start;
          }

          .vs-th-shelter {
            background: rgba(46, 48, 54, 1) !important;
          }

          .vs-p-head-tr {
            @extend .gather-header-tr;
            .vs-p-head-th {
              @include center-children;
              position: relative;
              box-sizing: initial;
              padding-bottom: 1.733vw!important;

              .vs-thead-content {
                display: flex;
                justify-content: center;

                // 设置配需按钮样式
                .vs-thead-care-icon-box {
                  width: min-content;
                  position: relative;
                  font-weight: 600;
                  word-break: keep-all;
                  word-wrap: break-word;
                  letter-spacing: 0;
                  line-height: 4.8vw;

                  .vs-table-sort-div-ab {
                    width: 2.133vw;
                    position: absolute;
                    top: 50%;
                    left: calc(100% + .533vw);
                    transform: translateY(calc(-50%));

                    // background: url('./imgs/table-sort-default.png') no-repeat center center;
                    // background-size: 100% 100%;

                    .vs-table-sort-div-re {
                      position: relative;
                      @include wh(2.133vw, 2.667vw);

                      .vs-table-sort-top {
                        @extend .sort-icon-style;
                        bottom: 1.5vw;
                        border-top-color: transparent;
                      }

                      .vs-table-sort-bottom {
                        @extend .sort-icon-style;
                        bottom: -1vw;
                        border-bottom-color: transparent;
                      }
                      .vs-table-sort-top.vs-table-active {
                        border-bottom-color: $mainColor;
                      }

                      .vs-table-sort-bottom.vs-table-active {
                        border-top-color: $mainColor;
                      }
                    }

                    // &.vs-table-sort-div-ab-top {
                    //   background: url('./imgs/table-sort-top.png') no-repeat center center;
                    //   background-size: 100% 100%;
                    // }

                    // &.vs-table-sort-div-ab-bottom {
                    //   background: url('./imgs/table-sort-bottom.png') no-repeat center center;
                    //   background-size: 100% 100%;
                    // }
                  }
                }
              }

              .vs-unit {
              }
            }

            .vs-table-opacity {
              opacity: 0;
            }
          }
        }

        .vs-label-tbody {
          .vs-p-td {
            z-index: 2;
            transform: translateZ(900px);
            @extend .td-p-b;
            @extend .text-wb-ws-bs;

            .vs-p-td-container {
              @extend .td-container;
            }

            .vs-p-td-text {
              @extend .line-clamp-2;
            }

            // 子表格样式
            .vs-nest-table {
              overflow: hidden;
              position: relative;
              white-space: initial;
              
              .vs-container-c-more-btn {
                opacity: 0;
              }

              .vs-table-fixed-c-more-btn {
                @extend .flex-c-c;

                color: $mainColor;
                position: relative;
                pointer-events: auto;

                &::before {
                  content: '';
                  display: inline-block;
                  width: 100%;
                  border-top: 1px solid rgba(151, 151, 151, 0.1);
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }

              .vs-label-c-table {
                .vs-label-c-table-c-tr {
                  display: flex;
                }
                .vs-c-td-container{
                  @extend .td-container;
                }
                .vs-label-c-table-c-td {
                  @extend .td-p-b;
                  display: flex;
                  z-index: 1;
                  transform: translateZ(800px);
                  @extend .text-wb-ws-bs;
                  .vs-c-td-text {
                    @extend .line-clamp-2;
                  }
                }
                .vs-label-c-table-c-tr {
                  &:first-child {
                    .vs-label-c-table-c-td {
                      padding-top: 3.466vw !important;
                    }
                  }
                  &:last-child {
                    .vs-label-c-table-c-td {
                      padding-bottom: 3.466vw !important;
                    }
                  }
                }

                // 子节点点击后查看当前单元格全部文案
                .vs-unit-clicked {
                  .vs-c-td-text {
                    line-clamp: initial !important;
                    -webkit-line-clamp:initial !important;
                  }
                }

                // 子节点表身设置对齐方式start
                .vs-row-align-right-textalign {
                  display: flex;
                  align-items: center;
                  justify-content: flex-end;

                  .vs-c-td-text {
                    text-align: right;
                  }
                }
                .vs-row-align-center-textalign {
                  @include center-children;

                  .vs-c-td-text {
                    text-align:center;
                  }
                }
                .vs-row-align-left-textalign {
                  display: flex;
                  align-items: center;
                  justify-content: left;

                  .vs-c-td-text {
                    text-align: left;
                  }
                }
                // end
              }
            }
          }
          
          // 存在展开查看子节点时，默认展示全部
          .vs-col-2-ischildrens {
            .vs-p-td-text {
              display: block;
            }
          }

          // 点击后查看当前单元格全部文案
          .vs-unit-clicked {
            .vs-p-td-text {
              line-clamp: initial !important;
              -webkit-line-clamp:initial !important;
            }
          }

          // 父节点表身表格列对齐
          .vs-row-align-right-textalign {
            text-align: right;
            .vs-p-td-text {
              text-align: right;
            }
          }
          .vs-row-align-center-textalign {
            text-align: center;
            .vs-p-td-text {
              text-align: center;
            }
          }
          .vs-row-align-left-textalign {
            text-align: left;
            .vs-p-td-text {
              text-align: left;
            }
          }
          // 表格列对齐 end

          .vs-tr-children {
            .vs-p-td {
              background: transparent;
              overflow: hidden;
              padding: 0 !important;
            }

            > .vs-p-td {
              padding: 0;
            }
          }
        }

        // 子节点显隐
        .vs-c-children-hide {
          position: fixed;
          left: -99999px;
        }
      }

      // 设置存在子节点的展开箭头提示
      .vs-p-td {
        .vs-table-icon-down {
          margin-top: .534vw;
          
          position: absolute;
          top: 50%;
          right: 1.333vw;
          @include wh(2.134vw, 2.134vw);
          transform: translateY(-50%);
          background: url('./imgs/table-down-expand.png') no-repeat center top;
          background-size: 100% 50%;
        }

        .vs-table-icon-up {
          margin-top: -0.534vw;

          position: absolute;
          top: 50%;
          right: 1.333vw;
          @include wh(2.134vw, 2.134vw);
          transform: translateY(-50%) rotate(180deg);
          background: url('./imgs/table-down-expand.png') no-repeat center top;
          background-size: 100% 50%;
        }
      }
    }

    // 设置被点击穿透
    .vs-head-div {
      position: relative;

      .vs-p-head-tr {
        pointer-events: auto;
      }
    }

    // 设置子节点背景色
    .vs-table-containe-div {
      position: relative;

      .vs-nest-table {
        background: $bgColor;
      }
      .vs-label-c-table-c-td {
        background: transparent;
      }
    }
  }

  .vs-table-picker-popuper {
    background: rgb(46, 48, 54);
  }
}

// 设置固定列
.vs-table-fixed-div {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  transform: translateZ(1000px);
  overflow: hidden;
  pointer-events: none;
  // 设置点击穿透
  .vs-label-thead {
    pointer-events:  none;

    * {
      pointer-events: none;
    }
  }

  .vs-label-tbody {
    pointer-events: none;
    
    * {
      pointer-events: none;
    }
  }

  // 设置背景颜色进行覆盖，设置translateZ做IOS兼容
  .vs-c-shelter {
    background-color: #2e3036;
    z-index: 3;
    transform: translateZ(1000px);
    pointer-events: auto;
  }

  // 设置子表格背景
  .vs-tr-children {
    background: transparent;

    .vs-c-shelter {
      background: $bgColor;
      opacity: 1;
    }
  }

  .vs-label-c-table-c-td {
    opacity: 0;
  }
}

// 查看更多
.vs-risk-table-more {
  display: inline-block;
  margin: -1.067vw 0 0 2.133vw;

  @include wh(4.792vw, 4.792vw);
  transform: translateY(10%);
  background: url('./imgs/table-expand-more.png') no-repeat center center;
  background-size: 100% 100%;
}

.vs-risk-table-more.vs-rotate45 {
  transform: rotate(-90deg);
  margin: 0;
}

.vs-table-more-box {
  padding: 5.333vw 0 5.333vw 0;
  color: $mainColor;
  margin-top: 2.4vw;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
  font-size: 3.733vw;
  line-height: 5.333vw;

  .vs-table-more-btn {
    @extend .flex-c-c;

    .vs-rotate-45 {
      margin-left: 2.133vw;
      margin-top: 1.067vw;
      
      transform: translateY(-10%) rotate(180deg);
    }
  }
}

// 查看更多
// 没有查看更多时的底部高度
.vs-table-bottom-padding {
  padding-bottom: 3.6vw;
}

// 滑动阴影
.vs-risk-hasShadow {
  position: relative;
  &::before{
    content: '';
    display: inline-block;
    @include wh(1.333vw, 100%);
    position: absolute;
    top: 0;
    right: -1.333vw;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.0));
  }
}

.vs-p-td-text,.vs-c-td-text {
  display: inline-block;
  text-align: center;
}

// 弹窗子表格
.vs-table {
  .vs-c-table-conform {
    padding: 0 0 1.333vw;
    background: #2e3036;
  }

  .c-ttable-container {
    height: calc(100vh - 17.067vw);
    box-sizing: border-box;
    background: #2e3036;
    overflow-y: auto;
  }
}
