@charset "UTF-8";
@import './config.scss';
@import '../common/var.scss';
/* BEM
-------------------------- */
@mixin b($block) {
  $B:$namespace+'-'+$block !global;
  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: $element !global;
  $selector: &;
    @at-root { // @at-root 指规则跳出嵌套，写在最外层
      .#{$B+ $element-separator + $element} {
        @content;
      }
    }
}

@mixin m($modifier) {
  $selector: &;
  @at-root {
    .#{$selector + $modifier-separator + $modifier} {
      @content;
    }
  }
}

@mixin center-children { // 垂直水平居中子元素
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-ell() { // 当超过宽度时，显示省略号
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin wh($width, $height){ // 设置宽高
	width: $width;
	height: $height;
}