.header-anchor{
  display: none;
}
.el-row{
  margin-bottom: 20px;
}

.infinite-doc-demo-block-row {
  .infinite-doc-demo-block-title {
    margin: 0;
    padding: 16px 16px 16px;
    color: rgba(69, 90, 100, 0.6);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }

  &:first-of-type .infinite-doc-demo-block-title {
    padding-top: 20px;
  }

  .infinite-doc-demo-block-picker {
    padding: 0 10px;
  }

  .infinite-doc-demo-block-table {
    padding: 0 10px;
    margin-top: -4.267vw;
  }

  .infinite-doc-demo-block-toast {
    // padding: 0 10px;
  }
}

